@model IEnumerable<AuthSystem.Models.StudentSemester>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                StudentId

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                    Firstname and Lastname

            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.StudentId)

                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Semester.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
                    @Html.DisplayFor(modelItem => item.User.LastName)

            </td>
               
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentSemesterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentSemesterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentSemesterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
